.card .card-content {
	min-height: 361px;
}

.desc-line {
	width: 25px;
	border-style: dashed;
	border-color: #009688;
}

sup {
	font-size: 53%;
}

.card .card-content .card-title {
	margin-bottom: 30px;
}

.quantity-container {
	display: inline-flex;
}

.quantity-container p{
	margin: 2px 10px !important;
}

.price-container {
	margin: 1px 0px 0px 60px;
}

.card-action h5 {
	margin: .3rem 0 .3rem 0;
	text-align: right;
}